* {
  font-family: "Arbutus-Slab";
}

body {
  color: #303030;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(176, 148, 233, 1) 100%
  );
}

.container {
  width: 72%;
  margin: 100px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(128, 105, 117);
  position: sticky;
  top: 20px;
}

.topo {
  font-family: "Mountains-of-Christmas";
  color: #5f5b5b;
  padding: 20px 70px;
  background-color: rgb(203 179 215);
  height: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 4px rgb(128, 105, 117);
}

.avatar {
  width: 20%;
  float: left;
}

.nome {
  font-family: "Mountains-of-Christmas";
  text-align: center;
}

.navibar {
  font-family: "Mountains-of-Christmas";
  text-align: center;
  padding: 85px 0 0 0;
}

.navibar li {
  font-weight: bold;
  display: inline-block;
  width: 20%;
  text-transform: uppercase;
}

.navibar li a:link,
.navibar li a:visited {
  font-family: "Mountains-of-Christmas";
  color: #5f5b5b;
  text-decoration: none;
}

.navibar li a:hover {
  font-family: "Mountains-of-Christmas";
  color: #aca5a5;
  text-decoration: underline;
  font-weight: bold;
}

.icones {
  text-align: center;
}

.icones p {
  display: inline-block;
  padding: 15px 5px;
}

.nome h1 {
  font-size: 4rem;
}

.nome h2 {
  font-size: 2rem;
}

h3 {
  color: #ae8fca;
  font-size: 24px;
  font-family: "Mountains-of-Christmas";
  text-transform: uppercase;
  padding: 26px;
  text-align: center;
}

p span {
  font-weight: bold;
  font-size: 18px;
}

p {
  text-align: justify;
  font-size: 18px;
  line-height: 30px;
}

li {
  line-height: 30px;
  font-size: 18px;
}

.portfolio figure {
  display: inline-block;
}

img {
  width: 450px;
}

.filter:hover {
  position: relative;
  -webkit-filter: contrast(90%) brightness(110%);
  filter: contrast(90%) brightness(110%);
}

.filter::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: overlay;
  background: -webkit-radial-gradient(
    50% 50%,
    circle closest-corner,
    rgba(168, 223, 193, 0.4) 1,
    rgba(183, 196, 200, 0.2)
  );
  background: radial-gradient(
    50% 50%,
    circle closest-corner,
    rgba(168, 223, 193, 0.4) 1,
    rgba(183, 196, 200, 0.2)
  );
}
