* {
    font-family: 'Arbutus-Slab';
}

body {
    color:#303030;
    padding: 140px 200px;
}

.custom-shape-divider-bottom-1644327545 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1644327545 svg {
    position: relative;
    display: block;
    width: calc(165% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1644327545 .shape-fill {
    fill: #FFFFFF;
}

.topo {
    font-family: 'Mountains-of-Christmas';
    color:#5f5b5b;
    padding: 20px;
    background-color: #e5d4f7;
    position: relative;
    height: 350px;
}

.topo figure {
    display: inline-block;
    width: 20%;
    text-align: center;
}

.avatar {
    width: 200px;
    display:inline-block;
    padding: 0px 60px;
}

.texto {
    font-family: 'Mountains-of-Christmas';
    display:inline-block;
    width: 79.4%;
    position: relative;
    text-align: center;
    top: -30px;
    line-height: 60px;
}

.texto h1 {
    font-size: 56px;
}

.texto h2 {
    font-size: 26px;
}

.texto p {
    display: inline-block;
    padding: 5px;
}

.container {
    position: relative;
    top: -130px;
}

h3 {
    color:#ae8fca;
    font-size: 24px;
    font-family: 'Mountains-of-Christmas';
    text-transform:uppercase;
    padding: 26px;
    text-align: center;
}

p span {
    font-weight:bold;
    font-size: 18px;
}

p {
    text-align:justify;
    font-size: 18px;
    line-height:30px;
}

li {
    line-height:30px;
    font-size: 18px;
}

.portfolio figure {
    display: inline-block;
}

img {
    width: 450px;
}

.filter:hover {
    position: relative;
    -webkit-filter: contrast(90%) brightness(110%);
    filter: contrast(90%) brightness(110%);
  }

  .filter::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: overlay;
    background: -webkit-radial-gradient(50% 50%, circle closest-corner, rgba(168, 223, 193, 0.4) 1, rgba(183, 196, 200, 0.2));
    background: radial-gradient(50% 50%, circle closest-corner, rgba(168, 223, 193, 0.4) 1, rgba(183, 196, 200, 0.2));
  }

